body {
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* This centers the "boxes" */
  min-height: 100vh;
}

/* This forces the text boxes to be huge so text can actually move */
.main-text, .info-text {
  width: 100vw;       /* Forces box to be full screen width */
  text-align: center; /* Moves text to the middle of that box */
  display: block;
}

canvas {
  border: 1px groove darkmagenta;
  display: block;
  margin: 20px auto;
}